.top {
    position: fixed;
    height: 70px;
    top: 0%;
    width: 100%;
    left: 0;
    padding-top: 20px;
    box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    z-index: 99;
}

.name {
    position: absolute;
    height: 50px;
    left: 5%;
}

.title {
    display: inline-block;
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: fixed;
    left: calc(5% + 260px);
    top: -8px;
    min-width: 400px;
}