#root {
    position: relative;
    top: 0;
}

.result {
    margin-top: 100px;
    margin-bottom: 100px;
    overflow: visible;
}

.result table {
    border-collapse: collapse;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    background-image: url(/photo/mark.png);
    background-repeat: no-repeat;
    background-size: 550px;
    background-position: center;
}

.tip {
    color: red;
}

.student {
    width: 100%;
    height: 50px;
    border: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1)
}

.result th,
.result td {
    border: none;
    padding: 10px;
    text-align: center;
}

.result th {
    background-color: rgba(9, 50, 101, 1);
    height: 50px;
    font-weight: bold;
    font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu;
    color: #fff;
}

.result tr:hover {
    background-color: #cececefe;
}

.tablehead {
    position: sticky;
    top: 86px;
}