.bottom {
    position: fixed;
    height: 60px;
    bottom: 0%;
    width: 100%;
    min-width: 1480px;
    left: 0;
    padding-top: 20px;
    box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}