.total{
    position: fixed;
    bottom: 18px;
    left: 740px;
    transform: translateX(-50%);
    font-size: 2em;
    font-weight: 800;
    z-index: 99;
    min-width: 1480px;
}

.count{
    color: #e04e4e;
}