.student {
    width: 100%;
    height: 50px;
    border: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1)
}

.toptitle {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}


input[type=checkbox] {
    width: 24px;
    height: 24px;
    margin-top: 4px;
    border: none;
    position: relative;
}

input[type=checkbox]::after {
    position: absolute;
    top: 0;
    color: #000;
    width: 24px;
    height: 24px;
    display: inline-block;
    visibility: visible;
    padding-left: 0px;
    text-align: center;
    content: ' ';
    border-radius: 5px;
    border: 2px solid #ccc;
    background-color: #fff;
}

input[type=checkbox]:checked::after {
    content: "✓";
    color: #fff;
    font-size: 30px;
    line-height: 22.5px;
    background-color: #0492f7;
    border-color: #0492f7;
}

.form table {
    width: 80%;
    max-width: 900px;
    border-collapse: collapse;
    position: absolute;
    top: 470px;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}
.form{
    padding: 460px;
    background-image: url(/photo/mark.png);
    background-repeat: no-repeat;
    background-position: 50% 550px;
    background-size: 550px;
    overflow: visible;
}
tr:nth-child(even) {
    background-color: #ffffff00;
}
tr:nth-child(odd) {
    background-color: rgba(9, 50, 101, 0.111);
}
th,td {
    border: none;
    padding: 10px;
    text-align: center;
}

tr:hover {
    background-color: #cececefe;
}

th {
    background-color: rgba(9, 50, 101, 1);
    height: 50px;
    font-weight: bold;
    color: #fff;
}
.tablehead{
    position: sticky;
    top: 86px;
    z-index: 99;
}
.needtitle{
    font-size: large;
    font-weight: 800;
}
.need{
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 120px;
    text-align: left;
}
.blank{
    position:absolute;
    width: 100%;
    height: 100px;
}
#root {
    position: relative;
    top: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    min-width: 1475px;
}